services:
    hookhub-db:
        image: postgres:17
        container_name: hookhub-pg
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: hookhub
        ports:
            - "5432:5432"

    hookhub-rabbitmq:
        image: rabbitmq:3-management
        container_name: hookhub-queue
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq

volumes:
    rabbitmq_data:
